nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0a1a16;
    align-items: center;
}

nav h3 {
    color: #9FE1CB;
    margin: 0;
    font-weight: 350;
}

nav select{
    color: #9FE1CB;
    background-color: #132b23;
    border-radius: 10px;
    padding: 10px 0px 10px 15px;
}

@media(max-width: 1100px){
    nav{
        padding: 15px 5px 15px 5px;
    }
}