
.divParent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divPrayerTimes {
    margin-top: 35px;
}

.logo{
    width: 20%;
}

div h1{
    color: #E1F5EE;
}

div h2{
    color: #E1F5EE;
}

div h5{
    color: var(--accent-light);
    font-weight: 400;
}

.nonActive{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card);
    color: var(--accent-light);
    width: 610px;
    height: 60px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    border: 1px solid #556b64;  
}

.nonActive p {
    margin: 0px 20px 0 20px;
}

.active {
    font-size: 35px;
    background-color: var(--accent);
    color: #E1F5EE;
    width: 610px;
    height: 70px;
    margin: 10px 0 10px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #556b64;  
}

.nonActive div{
    display: flex;
    align-items: center;
    margin: 10px;
}

.active div{
    display: flex;
    align-items: center;
    margin: 10px;
}

.active p{
    margin: 0 20px 0 20px;
}

.divParent .nextPrayer {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 220px;
    height: 35px;
    align-items: center;
    font-size: 15px;
    color: var(--accent-light);
    gap: 5px;
    background-color: var(--card);
    margin: 15px 0 0 0;
    border: 1px solid #556b64;  
}

.divParent .nextPrayer .pNextPrayer{
    color: #E1F5EE;
}

@media (max-width: 1100px){
    .date{
        margin: 20px 0 10px 0;
    }
    .currentTime{
        margin: 10px 0 30px 0;
    }
    .divPrayerTimes{
        margin-top: 35px;
    }
    .nonActive {
        width: 350px;
        height: 60px;
        font-size: 20px;
    }
    .active {
        width: 350px;
        height: 60px;
    }
    .logo{
        width: 45px;
    }
}